.Reach-count{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr ;
}

.profileCard-main-container{
    text-align: center;
    line-height: 1.5rem;
}

.profileCard-main-container button{
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.profile-img{
 position: relative;
 left: 15.9rem;
 margin: 1rem;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow:hidden;
 border:1px solid black;
 object-fit:contain;
}

.profile-img img{
    width: 6rem;
    border-radius: 50%;
}

@media screen and (max-width:480px) {
    .profile-img{
        left: 10rem;
        margin: 0.5rem;
    }   
}