body {
    font-family: Arial, sans-serif;
  }

.signup-maincontainer{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center
}

.signUp-container{
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 1px gray;
    padding: 1rem;
    border: 1px solid yellow;
}
  
 .signUp-container h2 {
    color: blue;
    text-shadow: 2px 2px 2px gray;
  }
  
.signUp-container label {
    display: block;
    margin-top: 10px;
    color: blue;
  }

.signUp-container 
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 5px;
    border: 1px solid yellow;
    width: 20rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 0, 0.504);
    margin-bottom: 0.3rem;
  }
  
.signUp-container input[type="submit"] {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.signUp-container input[type="submit"]:hover {
    background-color: yellow;
  }
  
  .error {
    color: red;
  }
  