.profile-circle{
    border-radius:50%;
    width:3rem;
    height:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    border:1px solid black;
    object-fit:contain;
}

.profile-circle img{
    width: 3rem;
}