.filter-btns{
    width: 50rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.filter-btns button{
    padding: 0.5rem;
    cursor: pointer;
}

.explore-btn{
    background-color: var(--color-secondary);
    color: black;
    border: 3px solid black;
}