.follow-main-container{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 1rem;
    position: fixed;
    right: 0;
    z-index: 0;
}

.search-follow input{
    width: 25rem;
    height: 3rem;
    padding: 1rem;
    border: none;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--color-secondary);
}



.followers{
    width: 25rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
}

.followers span{
    margin: 2rem; 
    font-weight: bold;
}

