.follow-main-container{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 1rem;
    position: fixed;
    right: 0;
    z-index: 0;
}

.search-follow input{
    width: 25rem;
    height: 3rem;
    padding: 1rem;
    border: none;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--color-secondary);
}



.followers{
    width: 25rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
}

.followers span{
    font-weight: bold;
}

.mobile-follow-container{
    background-color: white;
    height: 10rem;    
    overflow: hidden;
    display: none;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
   .follow-main-container{
    display: none;
   }    

   .mobile-follow-container{
    display: block ;
    position: absolute;
    width: 25rem;
    height: 3rem;
    left: 10%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   }

   .toggle-follow{
    height: 12rem;
   }

   .mobile-follow-container p{
    text-align: start;
   }
}
