.edit-pop-up{
    position: absolute;
    z-index: 99;
    top: 0;
}

.update-container{
    position: fixed;
    background-color: white;
    z-index: 9;
    top: 15rem;
}

.back-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.505);
    position: fixed;
    top: 0rem;
    left:0rem ;
}