.profile-info{
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.profile{
  margin-left: 0.5rem;
}

.main-content{
    padding: 0.5rem;
    font-size: xx-large;
}

.dateandtime{
    display: flex;
    width: 15rem;
    justify-content: space-between;
    padding: 1rem;
    color: gray;
}

.post-profile-container h4{
    padding: 0.5rem;
}

.comment{
    display: flex;
    padding: 1rem;
    justify-content:space-between;
    align-items: center;
    height: 5rem;
}

.action-btn-post{
    padding: 1rem;
}


.comment input{
    width: 50rem;
    border: none;
    padding: 0.5rem;
}

@media screen and (max-width:480px) {
    .main-content{
        font-size: large;
    }
}