.feed-post-main-container{
    padding: 1rem 0rem 1rem 1rem;
    border: 1px solid  black;
    margin: 5px;
    width: 38rem;
    
}

.main-feed-content{
    display: grid;
    grid-template-columns:0.1fr 1fr;
    grid-template-rows: 1fr ; 
}

.name{
    display: flex;
    justify-content: space-between;
    height: 2rem;
}

.name button{
    background-color: transparent;
    border: none;
    margin: 0 3rem 1rem 0;
}

.full-name{
    font-weight: 600;
    color: darkblue;
}

.username{
    color: gray;
}


.action-btns{
    color:darkblue;
    font-size: small;
    width: 36rem;
    padding: 0.5rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-button,.comment-button,.copy-button,.bookmark-btn{
    cursor: pointer;
}

.post-info{
    cursor: pointer;
    margin: 1rem 0rem;
    word-wrap: break-word;
    width: 35rem;
    text-align: start;
}

 


.pop-out-btn{
    position: absolute;
    right: 2rem;
    border: none;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
}

 
.name{
    cursor: pointer;
}

.option-btns{
    position: absolute;
    right: 5rem;
}

  
.pop-out-menu {
    position: absolute;
    padding: 2rem 0rem 1rem 2rem;
    border: 1px solid black;
    z-index: 2;
    background-color: white;
  }

.pop-out-menu button{
    border: 1px solid black;
    color: var(--color-secondary);
    padding: 0.5rem;
    background-color: var(--color-primary);
    cursor: pointer;
    font-weight: bold;
    margin: 0.5rem;
}

.pop-out-menu button:hover{
    color: var(--color-primary);
    background-color: var(--color-secondary);
}
  
