.feed-post-main-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    padding: 1rem;
    border: 1px solid  black;
    margin: 5px;
}

.name{
    display: flex;
    justify-content: space-between;
    height: 2rem;
}

.name button{
    background-color: transparent;
    border: none;
    margin: 0 3rem 1rem 0;
}

.action-btns{
    width: 50rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

