.filter-btns{
    width: 38rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.filter-btns button{
    padding: 0.5rem;
    cursor: pointer;
}

.explore-btn{
    background-color: var(--color-secondary);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (max-width:480px) {
    .filter-btns{
        width: 28rem;
        padding: 0.5rem 0rem;
    }

    .filter-btns button{
        padding: 0.4rem;
    }
}