.main-container-home{
   display: grid;
   grid-template-columns: 1fr 2.4fr 1fr;
}

section:nth-of-type(2){
    margin-top: 5rem;
}

main{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 1px gray;
    width: 60rem;
    margin: 5rem 0;
    padding: 1rem;
}

.main-feed{
    position: relative;
    z-index: 1;
}

.filter-btn{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.sort-btn{
    padding: 0.5rem;
    margin: 0.2rem;
    cursor: pointer;
    box-shadow: 0 0 5px 1px gray;
    cursor: pointer;
}

/*scroll*/

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #dcd468;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #566eb1;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #fcdd10;
  }
  
  /* Firefox */
  /* Please note that Firefox currently only supports styling the scrollbar in dark mode. */
  /* You may need to enable the "ui.prefersReducedMotion" preference in Firefox for the scrollbar styling to work. */
  /* To do this, open "about:config" in Firefox, search for "ui.prefersReducedMotion", and set it to 0. */
  /* Once enabled, you can apply the following styles: */
  


