*{
    background-color: var(--color-base);
}

.logo{
    position: absolute;
    width: 35rem;
    top: 0;
}

.navigation-links{
    height: 90vh;
    width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 0 5px 1px gray;
    margin: 5rem 0 0 1rem;
}

.navigation-links ul{
    list-style: none;
    line-height: 3rem;
    height: 15rem;
    width: 7rem;
    font-weight: 500;
    color: var(--color-primary);
}

.navigation-links ul li:hover{
    font-weight: bold;
    color: var(--color-secondary);
    cursor: pointer;
}

.navigation-links button{
    padding: 0.7rem;
    border: none;
    box-shadow: 0px 0px 8px 1px gray;
}

.profile-link{
    position: relative;
    top: 30rem;
    right: 8rem;
    }

.profile-name{
    position: absolute;
    top: 10px;
    left: 5rem;
    color: var(--color-primary);
}

.create-post-pop-up{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: transparent;
    top: 0;
    z-index: 999;
}

.background{
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.415);
}

.input-area{
    position: absolute;
    z-index: 999;
    top: 20rem;
    left: 28.5rem;
}