.App {
  text-align: center;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-right: 1rem;
  background-color: #61dafb;
  text-align: start;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 22;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav button{
  padding: 0.4rem;
}

.logout-btn{
  border: 3px solid var(--color-secondary);
}